{% extends 'base.html' %}

{% block content %}
    <div class="container px-4" xmlns="http://www.w3.org/1999/html">
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 100%; height: 100%; padding: 30px">
                <div class="card-body">
                    <h3 align="center" style="padding-bottom: 10px"><strong>{{ post.name }}</strong></h3>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="bd-placeholder-img card-img-top"
                             width="100%"
                             height="225" alt="{{ post.name }}">
                    {% else %}
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="100%"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="35%" y="50%" fill="#eceeef" dy=".3em">Нет фотографий</text>
                        </svg>
                    {% endif %}
                    <p class="card-text">{{ post.description }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">{{ post.Profile.user.first_name }} {{ post.Profile.user.last_name }}</small>
                        <small class="text-body-secondary">{{ post.date_post }}</small>
                    </div>
                    <hr>
                    <h5><strong>Комментарии пользователей</strong></h5>
                    {% for feedback in feedbacks %}
                        <div>
                            <p>
                                <strong>{{ feedback.Profile.user.first_name }} {{ feedback.Profile.user.last_name }}</strong>
                                ({{ feedback.Time_Submit|date:"d.m.Y H:i" }}):
                            </p>
                            <p>{{ feedback.Feedback }}</p>
                        </div>
                        <hr>
                    {% endfor %}

                    <h5><strong>Оставить комментарий</strong></h5>
                    {% if user.is_authenticated %}
                        <form method="post">
                            {% csrf_token %}
                            <p>
                            <textarea name="Feedback" id="Feedback" required
                                      style="width: 100%; height: 150px"></textarea></p>

                            <p align="right">
                                <button type="submit" class="btn btn-secondary">Отправить</button>
                            </p>
                        </form>
                        {% else %}
                        <p style="font-size: 13px"><a href="{% url 'login' %}" style="font-size: 13px">Войдите</a> в систему, чтобы оставить комментарий.</p>
                    {% endif %}

                </div>


            </div>
        </div>
    </div>
    </div>
{% endblock %}