{% extends 'base.html' %}
{% block content %}
    <section class="u-align-center u-black u-clearfix u-section-1" id="sec-ffaf">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-text-default u-title u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="1000">Интеллектуада </h1>
        <p class="u-align-center u-large-text u-text u-text-default u-text-variant u-text-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="2000">Обманчиво простая, невероятно интересная</p>
        <a href="#" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-2 u-palette-1-light-3 u-radius u-btn-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="1000">Подробнее </a>
      </div>
    </section>
    <section class="skrollable u-align-center u-border-2 u-border-grey-75 u-clearfix u-lightbox u-parallax u-white u-section-2" id="sec-b5d8">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">ЛИЦЕЙСКИЕ МЕРОПРИЯТИЯ</h2>
        <p class="u-align-center u-text u-text-2">Каждый найдёт что-то по душе! </p>
        <div class="u-carousel u-gallery u-layout-carousel u-lightbox u-show-text-always u-gallery-1" data-interval="5000" data-u-ride="carousel" id="carousel-3a83">
          <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
            <li data-u-target="#carousel-3a83" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
            <li data-u-target="#carousel-3a83" data-u-slide-to="1" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
            <li data-u-target="#carousel-3a83" data-u-slide-to="2" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
            <li data-u-target="#carousel-3a83" data-u-slide-to="3" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
            <li data-u-target="#carousel-3a83" data-u-slide-to="4" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
            <li data-u-target="#carousel-3a83" data-u-slide-to="5" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
          </ol>
          <div class="u-carousel-inner u-gallery-inner u-gallery-inner-1" role="listbox">
            <div class="u-active u-carousel-item u-gallery-item u-carousel-item-1">
              <div class="u-back-slide" data-image-width="1640" data-image-height="924">
                <img class="u-back-image u-expanded" src="/images/VCpCg5aSSJc.jpg">
              </div>
              <div class="u-over-slide u-over-slide-1">
                <h3 class="u-gallery-heading">Музыкальный квиз</h3>
                <p class="u-gallery-text">12 февраля</p>
              </div>
            </div>
            <div class="u-carousel-item u-gallery-item u-carousel-item-2">
              <div class="u-back-slide" data-image-width="2560" data-image-height="1440">
                <img class="u-back-image u-expanded" src="/images/tCcYIRm_P_Q.jpg">
              </div>
              <div class="u-over-slide u-over-slide-2">
                <h3 class="u-gallery-heading">Турнир по Alias</h3>
                <p class="u-gallery-text">24 мая</p>
              </div>
            </div>
            <div class="u-carousel-item u-gallery-item u-carousel-item-3">
              <div class="u-back-slide" data-image-width="1680" data-image-height="2160">
                <img class="u-back-image u-expanded u-back-image-3" src="/images/Y1IblGdU5To.jpg">
              </div>
              <div class="u-over-slide u-over-slide-3">
                <h3 class="u-gallery-heading">Интеллектуальный квиз обо всём</h3>
                <p class="u-gallery-text">12 мая</p>
              </div>
            </div>
            <div class="u-carousel-item u-gallery-item u-carousel-item-4">
              <div class="u-back-slide" data-image-width="2560" data-image-height="1707">
                <img class="u-back-image u-expanded" src="/images/R0d4yUz6EyQ.jpg">
              </div>
              <div class="u-over-slide u-over-slide-4">
                <h3 class="u-gallery-heading">Интеллектуальная игра 100к1</h3>
                <p class="u-gallery-text">7 марта</p>
              </div>
            </div>
            <div class="u-carousel-item u-gallery-item u-carousel-item-5">
              <div class="u-back-slide" data-image-width="1620" data-image-height="2160">
                <img class="u-back-image u-expanded u-back-image-5" src="/images/BeOeezpnI0w.jpg">
              </div>
              <div class="u-over-slide u-over-slide-5">
                <h3 class="u-gallery-heading">Лекция по математике</h3>
                <p class="u-gallery-text">17 ноября</p>
              </div>
            </div>
            <div class="u-carousel-item u-gallery-item u-carousel-item-6">
              <div class="u-back-slide" data-image-width="2560" data-image-height="1702">
                <img class="u-back-image u-expanded" src="/images/TTFZuFNIUoU.jpg">
              </div>
              <div class="u-over-slide u-over-slide-6">
                <h3 class="u-gallery-heading">Ежегодные научные конференции</h3>
                <p class="u-gallery-text">30 марта</p>
              </div>
            </div>
          </div>
          <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1" href="#carousel-3a83" role="button" data-u-slide="prev">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
          </a>
          <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2" href="#carousel-3a83" role="button" data-u-slide="next">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
          </a>
        </div>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-section-3" id="sec-07da">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div id="carousel-bae7" data-interval="5000" data-u-ride="carousel" class="u-carousel u-expanded-width-xs u-slider u-slider-1">
          <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
            <li data-u-target="#carousel-bae7" class="u-active u-grey-30 u-shape-circle" data-u-slide-to="0" style="width: 10px; height: 10px;"></li>
            <li data-u-target="#carousel-bae7" class="u-grey-30 u-shape-circle" data-u-slide-to="1" style="width: 10px; height: 10px;"></li>
          </ol>
          <div class="u-carousel-inner" role="listbox">
            <div class="u-active u-align-center u-carousel-item u-container-style u-slide">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <p class="u-align-center u-large-text u-text u-text-default u-text-variant u-text-1">"​Для начала хочу сказать спасибо за игру, очень приятно не просто наблюдать повторение игр Дмитрия Николаевича, но и изменения и разнообразие тем, имеющие смысл для игры не в клубе игры ЧГК. Также понравились авторские вопросы. Очень порадовало разнообразие тем и отказ от стандартных построений вопросов. Очень порадовал уровень организации, в частности, бланки для ответов. Пожелать хочу большего развития авторских вопросов, как вашего авторства, так и, например, отбирать вопросы которые придумали учителя или ученики."</p>
                <h6 class="u-align-center u-text u-text-2">ученик, 11В</h6>
                <h4 class="u-align-center u-text u-text-3">Клюсов Никита<br>
                </h4>
              </div>
            </div>
            <div class="u-align-center u-carousel-item u-container-style u-expanded-width-lg u-expanded-width-xl u-slide">
              <div class="u-container-layout u-container-layout-2">
                <p class="u-align-center u-large-text u-text u-text-default u-text-variant u-text-4">"​Мне очень нравится интеллектуада так как здесь можно найти хорошие знакомства с самых разных параллелей. Здесь ты чувствуешь себя на равных со всеми (даже с учителями) и очень хорошо проводишь время."</p>
                <h6 class="u-align-center u-text u-text-5">Президент школы, 9Б</h6>
                <h4 class="u-align-center u-text u-text-6">Варников Даниил<br>
                </h4>
              </div>
            </div>
          </div>
          <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-text-grey-30 u-carousel-control-1" href="#carousel-bae7" role="button" data-u-slide="prev">
            <span aria-hidden="true">
              <svg viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                    c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
            </span>
            <span class="sr-only">+Previous</span>
          </a>
          <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-text-grey-30 u-carousel-control-2" href="#carousel-bae7" role="button" data-u-slide="next">
            <span aria-hidden="true">
              <svg viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                    c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
            </span>
            <span class="sr-only">+Next</span>
          </a>
        </div>
      </div>
    </section>



    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-9b42"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Разработано магом ради интеллектуады.</p>
      </div></footer>

{% endblock %}